#burger {
  div {
    width: 1.5rem;
    height: 0.2rem;
    background: #000;
    border-radius: 10px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
    -webkit-transform-origin: 1px;
    -ms-transform-origin: 1px;
    margin-bottom: 0.3rem;
    & div:first-child {
      transform: rotate(0);
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
    }
    & div:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
    }
    & div:nth-child(3) {
      transform: rotate(0);
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
    }
  }
  &.changed div:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  &.changed div:nth-child(2) {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    opacity: 0;
  }
  &.changed div:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
}
.nav-toggle-btn:focus {
  outline: 0;
  box-shadow: none;
}
.nav-item {
  margin: 0 0.4em;
  .nav-link,
  .dropdown-item {
    font-weight: 400;
    color: rgba(196, 196, 196, 1);
    font-size: 18px;
    line-height: 22px;
  }
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #6f42c1 !important;
  font-weight: 900;
}
.dropdown-menu {
  left: auto;
  min-width: 300px;
  font-size: 1.2rem;
  .dropdown-item {
    margin: 1em 0;
  }
}

.create-account-btn {
  background: #6f42c1;
  border-radius: 5px;
  color: white !important;
  font-weight: 700;
}

.nav-link:hover,
.dropdown-item:hover {
  color: #6f42c1 !important;
}
.nav-link.create-account-btn:hover {
  background: darken(#6f42c1, 10%);
  color: white !important;
}

@media (max-width: 1024.98px) {
  .nav-item .nav-link,
  .dropdown-item {
    margin: 0.8em 0;
  }
  .sign-up-container {
    width: 100%;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    top: auto;
    left: 30%;
  }
  .nav-item .nav-link,
  .dropdown-item {
    text-align: center;
  }
}
@media (max-width: 576.98px) {
  .navbar-nav .dropdown-menu {
    left: 2%;
  }
}
