@import "./header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
main {
  background: rgba(205, 205, 205, 0.1);
}
p {
  font-family: "Lora", serif;
}

.goto {
  width: 178px;
  height: 49px;
  background: #6f42c1;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 900;
  font-size: 18px;
  padding: 0 1em;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.timer-wrapper {
  color: white;
  background: rgba(111, 66, 193, 0.2);
  padding: 0.8em;
  p {
    font-weight: 900;
    font-size: 18px;
    margin: 0;
    @media (max-width: 576.98px) {
      margin-bottom: 1em;
    }
  }
}
.timer {
  display: flex;
  align-items: center;
  text-align: center;
  h3 {
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 0.6em;
  }
  small {
    font-weight: 300;
    font-size: 12px;
  }
}

.first-part {
  background-image: url("../assets/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  .inner-wrapper {
    padding-top: 2em;
    width: 70%;
    margin: auto;
    color: white;
    h2 {
      font-weight: 900;
      font-size: 61px;
    }
    p {
      font-size: 16px;
      margin-top: 1.2em;
    }
    .button-group {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2em;
      a {
        font-weight: 900;
        font-size: 18px;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3em 1.3em;
        border-radius: 0;
        &:hover {
          text-decoration: none;
        }
        &.outline {
          border: 1px solid #ffffff;
        }
        &.fill {
          background: #6f42c1;
          box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
    @media (max-width: 768.98px) {
      width: 90%;
    }
  }
  @media (max-width: 576.98px) {
    // padding-top: 15em;
    .inner-wrapper {
      h2 {
        font-size: 40px;
      }
      .button-group {
        flex-direction: column;
        width: 80%;
        margin: auto;
        a {
          width: 100%;
          margin-bottom: 1em;
        }
      }
    }
  }
}

.promotion {
  padding-bottom: 2em;
  background-image: url("../assets/top-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .link-read {
    text-align: center;
    margin-top: 2em;
    a {
      background: #6f42c1;
      box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
      color: white;
      font-weight: 900;
      font-size: 14px;
      padding: 0.5em 1.3em;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h3 {
    font-weight: 900;
    font-size: 38px;
    color: #443f4c;
  }
  .cards-wrapper {
    margin-top: 2em;
    .each-card {
      height: 100%;
      background: #ffffff;
      box-shadow: 5px 9px 46px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      padding: 2em;
      img {
        width: 55px;
      }
      h4 {
        margin: 1.3em auto;
        font-weight: bold;
        font-size: 25px;
      }
    }
  }
}

.growing {
  background-color: white;
  padding: 3em 0;
  h2 {
    font-weight: 900;
    font-size: 38px;
    color: #443f4c;
  }
  .top {
    img {
      width: 100%;
    }
  }
  .repos {
    .each-card {
      background: #ffffff;
      border: 1px solid #c3a3ff;
      box-sizing: border-box;
      box-shadow: 6px 9px 14px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      height: 100%;
      .header {
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 1.5em;
        background: rgba(111, 66, 193, 0.05);
        h3 {
          font-weight: bold;
          font-size: 18px;
          color: #443f4c;
          margin-bottom: 0;
        }
        p {
          color: #6f42c1;
          margin: 0;
        }
      }
      .body {
        padding: 2em;
        height: 75%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2em;
        justify-content: space-between;
        align-items: flex-start;
        .left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }
        a {
          border: 1px solid #6f42c1;
          width: 211px;
          height: 54px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: #6f42c1;
          font-weight: 900;
          font-size: 18px;
          &:hover {
            text-decoration: none;
          }
        }
        .right {
          display: flex;
          align-items: center;
          .share,
          .star {
            display: flex;
            align-items: center;
            margin-right: 1em;
            svg {
              margin-right: 0.6em;
            }
            p {
              margin: 0;
            }
          }
        }
        @media (max-width: 576.98px) {
          display: block;
          a {
            width: 100%;
          }
          .right {
            margin: 1em auto;
            justify-content: center;
          }
        }
      }
    }
  }
}

.other-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  flex-wrap: wrap;
  a {
    width: 261px;
    height: 50px;
    background: #6f42c1;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 18px;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    &:hover {
      text-decoration: none;
    }
  }
}

footer {
  background: linear-gradient(265.64deg, #111012 0.17%, #1b083d 100%);
  color: white;
  text-align: center;
  padding: 3em;
  a {
    margin-right: 0.6em;
  }
  .copyright {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    margin-top: 1em;
  }
}

.white-paper {
  padding-top: 6em;
  margin-bottom: 3em;
  h2 {
    font-weight: 900;
    font-size: 38px;
    color: #443f4c;
  }
  .cards-wrapper {
    .each-card {
      box-shadow: 5px 9px 46px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      margin-top: 2em;
      padding: 2em;
      background-color: white;
      border-right: 23px solid #6f42c1;
      @media (max-width: 576.98px) {
        border-right: 10px solid #6f42c1;
      }
      p {
        margin: 2em auto;
      }
      .header {
        border-bottom: 1px solid #dedede;
        h3 {
          font-weight: bold;
          font-size: 30px;
          color: #443f4c;
        }
        small {
          font-style: italic;
          font-weight: 300;
          font-size: 14px;
          color: #443f4c;
          margin-bottom: 1em;
          display: block;
        }
      }
      a {
        width: 261px;
        height: 50px;
        background: #ffffff;
        border: 1px solid #6f42c1;
        box-sizing: border-box;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 18px;
        color: #6f42c1;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.about {
  padding-top: 6em;
  margin: 3em auto;
  a {
    text-decoration: underline;
  }
  .image {
    margin: 2em auto;
    text-align: center;
    img {
      width: 50%;
      margin: auto;
    }
  }
  img {
    width: 100%;
  }
  .second {
    margin-top: 2em;
  }
  h2 {
    font-weight: 900;
    font-size: 30px;
    color: #443f4c;
  }
}

.roadmap {
  background: linear-gradient(265.64deg, #111012 0.17%, #1b083d 100%);
  padding: 3em 0;
  color: white;
  .first-paragraph {
    width: 75%;
    h2 {
      font-weight: bold;
      font-size: 28px;
    }
    h4 {
      font-weight: 900;
      font-size: 20px;
    }
    @media (max-width: 576.98px) {
      width: 100%;
    }
  }
  p {
    font-size: 14px;
    // margin: 2em auto;
  }
  .cards-container {
    margin-top: 3em;

    .each-card {
      background: rgba(111, 66, 193, 0.2);
      padding: 2em;
      margin-bottom: 2em;
      border-radius: 20px;
      backdrop-filter: blur(4px);
      h2 {
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 1em;
      }
      .tag {
        color: #c3a3ff;
        margin-bottom: 2em;
        p {
          margin: 0;
          display: flex;
          align-items: center;
          position: relative;
          .q {
            background: #6f42c1;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 10px solid rgba(255, 255, 255, 0.1);
            padding: 1.5em;
            position: relative;
            z-index: 1;
          }
          .year {
            position: relative;
            background: #6f42c1;
            padding: 0.7em 2em 0.7em 3.4em;
            border-radius: 2em;
            margin-left: -2em;
          }
        }
      }
    }
  }
}

.google-form {
  .form-container {
    background: #ffffff;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    height: 713px;
    overflow-y: scroll;
    margin: 3em auto;
  }
}

.contributions {
  background: #f9f6ff;
  color: #443f4c;
  text-align: center;
  h3 {
    font-weight: bold;
    font-size: 34px;
  }
  .each-card {
    border-radius: 20px;
    min-height: 350px;
    padding: 1.4em;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white;
    p {
      margin: 2em auto;
      font-size: 16px;
    }
    h2 {
      font-weight: 900;
      font-size: 38px;
    }

    &.first {
      background-image: url("../assets/closed.svg");
      background-size: cover;
      background-repeat: no-repeat;
      color: #443f4c;
    }
    &.second {
      background: linear-gradient(144.14deg, #6f42c1 0.86%, #4d2794 100%);
      min-height: 380px;
    }
    &.third {
      background: linear-gradient(
        135deg,
        rgba(195, 163, 255, 0.9) 0%,
        #4d2794 100%
      );
    }
    @media (max-width: 768.98px) {
      p {
        font-size: 13px;
      }
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 24px;
      }
    }
    @media (max-width: 768.98px) {
      &,
      &.second {
        min-height: 250px;
      }
    }
  }
  @media (max-width: 576.98px) {
    text-align: left;
    h3 {
      font-weight: bold;
      font-size: 28px;
    }
  }
}

.incentives {
  h2 {
    font-weight: 900;
    font-size: 38px;
    color: #443f4c;
    margin-bottom: 1em;
  }
  .cards-container {
    .each-card {
      margin-bottom: 2em;
      box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      padding: 2em;
      .body {
        padding-top: 1em;
      }
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #c4c4c4;
        padding: 1em;
        .tag {
          width: 120px;
          height: 46px;
          background: rgba(254, 66, 56, 0.1);
          color: #ff4b4b;
          font-weight: 900;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5em 1em;
          p {
            font-family: "Lato";
            margin: 0;
          }
        }
        h3 {
          font-weight: bold;
          font-size: 24px;
          color: #443f4c;
        }
      }
    }
    @media (max-width: 576.98px) {
      .each-card {
        padding: 0;
        box-shadow: none;
        .header {
          h3 {
            padding-right: 0.6em;
          }
          .tag {
            width: 80px;
            height: 36px;
            p {
              font-size: 11.4545px;
            }
          }
        }
      }
    }
  }
}
.swiper-container-wrapper {
  h2 {
    font-weight: 900;
    font-size: 38px;
    color: #443f4c;
  }
  .swiper {
    width: 600px;
    height: 170px !important;
  }

  .swiper-scrollbar {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: #6f42c1 !important;
    color: white !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 17px !important;
  }
  .swiper-pagination-bullet {
    background-color: #6f42c1 !important;
  }
  .inner-slide {
    h5 {
      font-weight: 600;
    }
    p {
      font-size: 14px;
    }
  }
  @media (max-width: 576.98px) {
    h2 {
      font-size: 28px;
    }
    .swiper {
      width: 100% !important;
      height: 170px !important;
    }
    .swiper-pagination {
      margin-top: 1em;
    }
    .inner-slide {
      width: 65% !important;
    }
    .inner-slide {
      h5 {
        font-weight: 600;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
